.cart-qty{
    color: #fff;
    background: #ffa31a;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    height: 15px;
    width: 14px;
    position: absolute;
    box-sizing: content-box;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    right: 10px;
}

.cart-btn{
    position: relative;
}

.cart-btn:hover, .cart-btn:focus, .cart-btn:active, .cart-btn.active{
    color:#ffa31a;
    transition-duration: 0.4s;
    background-color: black;
}